<h1>Nutrition Tracker</h1>

<div>
  <%= link_to "Pesagens", weighing_entries_path %>
</div>

<div>
  <%= link_to "Refeições", meal_entries_path %>
</div>

<div>
  <%= link_to "Tabela Nutricional", foods_path %>
</div>